body {
	margin: 40px 0px;
}

ul {
	list-style: none;
}

.box {
	border: 1px red dotted;
}

.blog-row {
	margin-bottom: 20px;
}

.main-container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.blog-container {
	padding: 50px;
	box-shadow: 2px 2px 10px 1px #e1e1e1;
}

.blog-content {
	margin-top: 30px;
	font-family: "Open Sans", sans-serif;
	color: #3d4451;
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 0.5px;
}

 .blog-content img {
 	width: 100%;
 	margin-bottom: 20px;
 }

 .blog-profile img {
 	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
 }

.blog-profile h2 {
 	font-size: 30px;
 	text-align: center;
 	color: #3d4451;
 	margin-top: 20px;
 }

 .profile-sub {
 	font-size: 18px;
 	text-align: center;
 	color: #3d4451;
 }

 .profile-socials {
 	text-align: center;
 	font-size: 20px;
 }

 .profile-socials a {
 	color: #07cb79;
 	margin-right: 10px;
 }

 .profile-socials a:last-child {
 	margin-right: 0px;
 }

 .side-panel {
 	text-align: center;
 }

 .side-panel::after {
  content: '';
  display: block;
  width: 64px;
  height: 1px;
  background-color: #bfbfbf;
  margin: 20px auto;
}

.post-listing {
	font-size: 22px;
	color: #999;
	font-weight: 300;
}

.post-listing:hover {
	color: #07cb79;
}

.post-listing span {
	float: right;
	color: #999;
}

.posts-con .row {
	 margin-bottom: 20px;
}

.categories-con .row {
	 margin-bottom: 20px;
}

.categories-listing {
	font-size: 22px;
	color: #999;
	font-weight: 300;
}

.categories-listing:hover {
	color: #07cb79;
}

.categories-listing span {
	color: #999;
}

.categories-con .row {
	 margin-bottom: 20px;
}