.blog-header-con {
	padding-top: 20px;
}

.blog-header-con .hash-tags {
	font-size: 13px;
	font-weight: bold;
	color: #757575;
}

.blog-header-con h1 {
	font-size: 20px;
	text-align: center;
	margin: 20px 0px;
	font-weight: bold;
	color: #373b42;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
}

.blog-header-con .post-info {
	color: #ccc;
	margin-left: auto;
	margin-right: auto;
}

.blog-header-con .post-info .comments-icon{
	margin-left: 20px;
}

.blog-header-con span {
	font-size: 14px;
	padding-left: 5px;
}